@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

* {
    font-family: 'Radio Canada', sans-serif;
}

body{
    background-color: rgb(141, 135, 224);
}

div {
    text-align: center;
    background-color: #fff;
    width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 50px;
}

table{
    margin: 0 auto;
}

input{
    font-size:20px;
    text-align: right;
    width: 325px;
    height: 40px;
}

.btn{
    font-size: 20px;
    height: 50px;
    width: 80px;
}